{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Resources": {
  "cfoai":{
  "Type" : "AWS::CloudFront::CloudFrontOriginAccessIdentity",
  "Properties" : {
    "CloudFrontOriginAccessIdentityConfig" : {
        "Comment" : "origin-access-identity"
        }
      }
    },
    "cfmagentofiles": {
      "Type": "AWS::CloudFront::Distribution",
      "Properties": {
        "DistributionConfig": {
          "Origins": [
            {
              "DomainName": "cfmagentofilesdir.s3.amazonaws.com",
              "Id": "cfmagentofilesdirOrigin",
              "S3OriginConfig" : {
                "OriginAccessIdentity" : "origin-access-identity/cloudfront/E127EXAMPLE51Z"
              },
            }
          ],
          "Enabled": "true",
          "Comment": "CFN distribution for Magento Assets",
          "DefaultCacheBehavior": {
            "AllowedMethods": [
              "DELETE",
              "GET",
              "HEAD",
              "OPTIONS",
              "PATCH",
              "POST",
              "PUT"
            ],
            "TargetOriginId": "cfmagentofilesdirOrigin",
            "ForwardedValues": {
              "QueryString": "false",
              "Cookies": {
                "Forward": "none"
              }
            },
            "ViewerProtocolPolicy": "allow-all"
          },
          "PriceClass": "PriceClass_100",
          "Restrictions": {
            "GeoRestriction": {
              "RestrictionType": "whitelist"
            }
          },
          "ViewerCertificate": {
            "CloudFrontDefaultCertificate": "true"
          }
        }
      }
    }
  }
}
